div.loading-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .spinner {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 1rem;
  }

  .text {
    opacity: 0.8;
  }
}

